body{
    background-color: #ebebeb;
}
.referral-link{
    width: 100%;
    height: fit-content;
    margin-top: 60px;
    background: #e6c918;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}

.referral-link .ICN-ref{
    width: 50px;
    height: 50px;
    margin-left: 10px;
}
.ICN-ref svg{
    width: 100%;
    height: 100%;
}
.referral-link .copy-sect {
  width: calc(100% - 100px);
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}
.copy-sect .link-txt {
  width: fit-content;
  height: fit-content;
}
.myRefL::before{
    content: 'My Referral Link: ';
    font-weight: bolder;
}

.copy-sect .copy-link {
    width: fit-content;
    height: fit-content;
    background-color: black;
    color: white;
    font-weight: bolder;
    padding: 5px 10px;
    border-radius: 5px;
  
}

.refDetails {
  width: 100%;
  height: fit-content;
  margin-top: 20px;
}
.members-tbl{
    width: 100%;
    height: fit-content;
    background-color: #e6cb187e;
}
.members-tbl .heading {
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px dashed black;
  margin-bottom: 20px;
  padding: 10px;
}
.members-tbl .heading h1{
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    font-weight: bolder;
    
}
.members-tbl .heading .bf-total-Ref{
    width: fit-content;
    height: fit-content;
    margin-right: 10px;
}
.members-tbl .heading .bf-total-Ref::before{
    content: 'Total referrals: ';
    font-weight: bolder;
}

.members-tbl-grid{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr;
    border: 1px solid #e6c918;
}

.members-tbl-grid tr{
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.members-tbl-grid tr td,
    .members-tbl-grid tr th{
        padding: 10px;
        text-align: center;
    
}
.members-tbl-grid tr td{
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}
.members-tbl-grid tr td:first-child{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-weight: 500;
}
.members-tbl-grid thead tr{
    background-color: #e6c918;
}
.members-tbl-grid tbody tr{
    background-color: #dcdada;
}
.members-tbl-grid tbody tr:nth-child(even){
    background-color: #ebebeb;
}
.members-tbl-grid tbody tr:hover{
    background-color: #d1d1d1;
}
.members-tbl-grid tr th:not(:first-child),
.members-tbl-grid tr td:nth-child(even){
    border-left: 2px solid #c7c5c5;
}

.member-prof-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    margin-right: 5px;
    background-color: black;
    border-radius: 50%;
    overflow: hidden;
}
.member-prof-img > *{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 520px) {
    .referral-link .ICN-ref{
        width: 10dvw;
        height: 10dvw;
    }
    .referral-link .copy-sect {
        width: calc(100% - 70px);
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
      }
    .copy-sect .link-txt {

        font-size: 3dvw;
    }
    .copy-sect .copy-link {
       font-size: 3dvw;
      
    }
}
@media screen and (max-width: 350px) {
    .referral-link .ICN-ref{
        width: 7dvw;
        height: 7dvw;
    }
    .referral-link .copy-sect {
        width: calc(100% - 60px);
        height: fit-content;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 10px;
      }
    .copy-sect .link-txt {
        font-size: 3dvw;
    }
    .copy-sect .copy-link {
       font-size: 2.5dvw;
      
    }
    .members-tbl .heading h1{
        font-size: 10dvw;
        
    }
    .members-tbl .heading .bf-total-Ref{
       font-size: 5dvw;
    }
    .members-tbl-grid tr th{
        font-size: 3.5dvw;
    }
    .members-tbl-grid tr th,
    .members-tbl-grid tr td{
        font-size: 5dvw;
    }
    .member-prof-img{
        width: 30px;
        height: 30px;
    }
    .member-prof-img > *{
        width: 100%;
        height: 100%;
    }
}