:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background: #949292;

}


/* remove the scroll bar from showing but scrolling still works */
::-webkit-scrollbar{
  display: none;
}

/* remove the default increment and decrement button from input with type number */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number]::-moz-focus-inner {
  border: 0;
  box-shadow: none;
}

* {
  box-sizing: border-box;
}

/* input outline to none */

input{
  outline: none;

}

